<button class="btn btn-primary" id="buttonAdd" (click)="triggerModalAlone(modalData)"> + Add new monument</button>
<div class="input-group">
  <div class="col-sm-2">  
    <select  class="form-control form-control-sm" [(ngModel)]="criteria" name="criteria" id="criteria" required >  
      <option disabled>Choose criteria</option>
      <option *ngFor="let p of Criteries" >{{p}}</option>  
    </select>
  </div> 
    <input *ngIf="criteria==='By name'" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" name="searchText" [(ngModel)]="searchText"/>
    
    <div *ngIf="criteria==='By priority'" class="col-sm-2">  
        <select  class="form-control form-control-sm" [(ngModel)]="priorityToSearch" name="priorityToSearch" id="priorityToSearch" required >  
          <option disabled>Choose priority to search</option>
          <option *ngFor="let p of Priorities">{{p}}</option>  
        </select>
    </div>
    <button type="button" class="btn btn-outline-primary" id="x" (click)="searchMonument()">Search</button>
</div>
 

<!--Showing all active monuments-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section class="container pt-3 mb-3">
    <h2 class="h3 block-title text-center"></h2>
    <div class="row pt-5 mt-30" >
        <div class="col-lg-4 col-sm-6 mb-30 pb-5" *ngFor="let u of arrayOfMonuments">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-car fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">{{u.name}}</h3>
                    <h5 class="card-title pt-2">
                      <ngb-rating [max]="5" [(rate)]="u.averageRate" [readonly]="true"></ngb-rating>
                    </h5>
                    <p class="card-text text-sm">{{u.description.slice(0,255)}}</p><span class="text-sm text-uppercase font-weight-bold">&nbsp;<i class="fe-icon-arrow-right"></i></span>
                    <button class="btn btn-info" (click)="triggerModal(modalReview,u)">Review</button>
                    <button class="btn btn-success" (click)="triggerModal(modalUpdate,u)">Edit</button>
                    <button class="btn btn-danger" (click)="triggerModal(modalDelete,u)">Delete</button>
                </div>
            </a>
        </div>
    </div>
</section>


<!--Add new monument modal-->
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new monument</h4>
  </div>
  <div class="modal-body">
    <form #addForm="ngForm">
    <div class="form-group">
       <label for="name">Name</label>
       <input type="text" [(ngModel)]="monument.name" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
       <label for="description">Description</label>
       <textarea [(ngModel)]="monument.description" name="description" class="form-control" id="description" rows="5" required></textarea>
    </div>  
   <div class="form-group row">  
      <label for="priority" class="col-sm-3 col-form-label" id="prioriti">Priority</label>  
        <div class="col-sm-6">  
          <select class="form-control form-control-sm" [(ngModel)]="monument.priority" name="priority" required>  
            <option value="" disabled>Choose monument priority</option>
            <option *ngFor="let p of Priorities" >{{p}}</option>  
         </select>
        </div>  
    </div>  
    <div class="form-group">
      <p id="monumentLocation">Mark monument location</p>
      <agm-map [latitude]="monument.lan" [longitude]="monument.lon" (mapReady)="locationForAdding($event)">
        <agm-marker [latitude]="monument.lan" [longitude]="monument.lon">
        </agm-marker>
      </agm-map>
    </div>
  </form>
 </div>
  <div class="modal-footer">
    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" (click)="saveMonument()">Save</button>
    <button type="button" id="add-monument-form" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>


<!--Update monument modal-->
<ng-template #modalUpdate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update monument</h4>
    </div>
    <div class="modal-body">
      <form #updateForm="ngForm">
      <div class="form-group">
         <label for="name">Name</label>
         <input [(ngModel)]="currentMonument.name" type="text" name="name" class="form-control" id="name">
      </div> 
      <div class="form-group">
        <label for="description">Description</label>
        <textarea [(ngModel)]="currentMonument.description" name="description" class="form-control" id="description" rows="5" ></textarea>
     </div> 
     <div class="form-group row">  
        <label for="priority" class="col-sm-3 col-form-label" id="priorit">Priority</label>  
          <div class="col-sm-6">  
            <select class="form-control form-control-sm" [(ngModel)]="currentMonument.priority" name="priority" id="priority">  
              <option value=" " disabled>Choose monument priority</option>
              <option *ngFor="let p of Priorities" >{{p}}</option>  
            </select>
          </div>  
      </div> 
      <div class="form-group">
        <p id="monumentImage">Upload monument image</p>
        <div class="container row">
          <div class="col-md-6">
            <input type="file" (change)="fileChange($event)">
          </div>
          <div class="col-md-6">
            <input type="button" class="btn btn-success" (click)="onUpload()" value="Upload">
          </div>
        </div>
      </div>
     <div class="container row">
       <div class="col-md-12">
         <p id="poruka" [ngStyle]="message==='Please choose an image' ? {'background-color':'red'} : {'background-color':'green'}">{{message}}</p>
       </div>
     </div>
      <div class="form-group">
        <p id="monumentLocation">Mark monument location</p>
        <agm-map [latitude]="currentMonument.lan" [longitude]="currentMonument.lon" (mapReady)="location($event)">
          <agm-marker [latitude]="currentMonument.lan" [longitude]="currentMonument.lon">
          </agm-marker>
        </agm-map>
      </div>
    </form>
   </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="updateMonument()">Save</button>
      <button type="button" id="update-monument-form" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>


<!--Confirmation modal to delete monument-->
<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
  </div>
  <div class="modal-body">
      <p>Are you sure ?</p>
 </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-primary" (click)="deleteMonument()">Yes</button>
    <button type="button" id="add-monument-form" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">No</button>
  </div>
</ng-template>


<!--Detail review of monument modal-->
<ng-template #modalReview let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">{{currentMonument.name}}</h2>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="triggerModalForImages(modalImages, currentMonument)">Check out images</button>
  </div>
  <button disabled type="button" class="btn btn-outline-danger">{{currentMonument.priority}}</button>
  <div class="modal-body">
    <form #reviewForm="ngForm">
      <section class="container pt-1 mb-1">
        <h2 class="h1 block-title text-center"></h2>
        <div class="row pt-5 mt-10" >
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-car fa-3x head-icon"></i></div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Description</h3>
                        <p class="card-text text-sm">{{currentMonument.description}}</p><span class="text-sm text-uppercase font-weight-bold">&nbsp;<i class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
        </div>
    </section>
    <div class="form-group">
      <p id="monumentLocation">Monument location on Google Maps</p>
      <agm-map [latitude]="currentMonument.lan" [longitude]="currentMonument.lon" (mapReady)="location($event)">
        <agm-marker [latitude]="currentMonument.lan" [longitude]="currentMonument.lon">
        </agm-marker>
      </agm-map>
     </div>
    </form>
 </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="triggerModalAlone(modalRate)">Rate</button>
    <button type="button" id="review-form" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
</ng-template>


<!--Not found monument message-->
<section class="page_404" *ngIf="notFoundBoolean === true">
	<div class="container">
		<div class="row">	
		  <div class="col-sm-12 ">
		    <div class="col-sm-10 col-sm-offset-1  text-center">
		      <div class="four_zero_four_bg">
		      	<h1 class="text-center">Oops</h1>
		      </div>
		      <div class="contant_box_404">
	      	<h3 class="h2">Can not find any item</h3>
    	    </div>
	  	  </div>
		  </div>
		</div>
	</div>
</section>


<!--Modal for showing images-->
<ng-template id="modalImage" #modalImages let-modal>
  <div class="hehe">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-x">See {{currentMonument.name}} images</h4>
    </div>
      <div class="modal-body" id="imageModalBody">
        <ngb-carousel id="carousel" #carouse>
          <ng-template *ngFor="let i of arrayOfImages" ngbSlide>
            <div class="picsum-img-wrapper">  
              <img [attr.src]="'data:image/jpeg;base64,'+i.picByte"/>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
  </div>
</ng-template>


<!--Modal for rating monument-->
<ng-template id="modalRate" #modalRate let-modal>
  <div class="mainDiv">
    <div class="modal-header">
      <h4 class="modal-title">Leave feedback for {{currentMonument.name}}</h4>
    </div>
      <div class="modal-body" id="ratePage">
        <ngb-rating [max]="5" [(rate)]="rating" [readonly]="false"></ngb-rating>
        <button type="button" class="btn btn-primary" (click)="rateMonument(currentMonument.id,rating)">Save</button>
        <button type="button" id="rate-form" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
  </div>
</ng-template>