body{
    margin-top:20px;
    background:#eee;
}

.card::after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 35px;
    background-color: #fff;
    -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    content: '';
    z-index: -1;
}

a.card {
    text-decoration: none;
}

.card {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.bg-white {
    background-color: #fff !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.d-block {
    display: block !important;
}

img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.text-sm {
    font-size: 12px !important;
}

p, .p {
    margin: 0 0 16px;
}

.card-title {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.head-icon{
    margin-top:18px;
    color:#FF4500
}

button{
    margin-left:10px;
}

button{
    margin-left:30px;
}

select{
    margin-top:10px;
}
agm-map{
    height: 300px;
}

#monumentLocation,#monumentImage{
    margin-top:30px;
    font: italic 1.0em "Fira Sans", serif;
}

#poruka{
    margin-top:15px;
    display: flex;
    justify-content: center;
    background-color:green;
    color:white;
    border-radius:15px;
}

#buttonAdd{
    margin-top:20px;
   text-align:center;
}

.col-sm-2{
    margin-left:10px;
    margin-right:20px;
}

#x{
    margin-left:10px;
    margin-right:20px;
}

.input-group{
    margin-top:20px;
}


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{
     width:100%;
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
    font-size:80px;
}
 
.four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}


.btn-info{
    color:white;
}

#carousel{
    align-items: center;
}

#modalImage{
    width:300px;
}

.btn-warning{
    color:white;
}

.btn-outline-danger{
    margin-right:25px;
    border-radius:20px;
}

#imageModalBody{
    display:flex;
    justify-content: center;
}

ngb-rating{
    font-size:40px;
}

#ratePage{
    display: flex;
    justify-content: center;
}

button{
    border-radius: 25px;
}

label{
    font: italic 1.0em "Fira Sans", serif;
}
h4{
    font: italic 1.4em "Fira Sans", serif;
}

#prioriti,#priorit{
    margin-top:10px;
}

h3 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px; 
    text-align: center; 
}