nav{
    font-size:30px;
}

.navbar{
    border:1.5px solid blue;
    background-color:#3260F9;
}

p{
    font-family: Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    font-weight:bold;
    color:white;
}

#navbarNavAltMarkup{
    display:flex;
    justify-content:center;
}

#circle{
    margin-right:20px;
}

#plane{
    margin-left:20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    #circle,#plane{
        display:none;
    }
    p{
        font-size:30px; 
    }
  }

@media (min-width: 481px) and (max-width: 767px) {
    #circle,#plane{
        display:none;
    }
    p{
        font-size:20px; 
    }
    
  }

@media (min-width: 320px) and (max-width: 480px) {
   #circle,#plane{
        display:none;
    }
    p{
        font-size:18px; 
    }

}
h3 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }