<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div id="circle" class="box-shadow bg-white rounded-circle text-center" style="width: 50px; height: 50px;"><i class="fa fa-car fa-1x head-icon"></i></div>
        <p id="title">Explore new monuments with us</p>
        <div id="plane" class="box-shadow bg-white rounded-circle text-center" style="width: 50px; height: 50px;"><i class="fa fa-plane fa-1x head-icon"></i></div>
      </div>
    </div>
 </nav>
 